/*Matthew Norbury - 16404219*/
body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

p {
    margin: 0px;
    line-height: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    margin-top: .5em;
    color: #ffffff;
    padding: .1em;
    margin-bottom: .3em;
}

a {
    text-decoration: none;
    color: #ffa500;
    font-family: 'Ubuntu', sans-serif;
}

li {
    list-style-type: none;
    margin: 3em;
    text-align: center;
    width: auto;
    height: auto;
}

.header {
    margin-top: -1.3em;
    width: 100%;
    height: auto;
    background-color: #ffa500;
    font-family: 'Oswald', sans-serif;
}

.left-column {
    width: 65%;
    height: 660px;
    float: left;
    background-color: #ffffff;
    text-align: center;
}

.right-column {
    width: 35%;
    height: 655px;
    float: right;
    background-color: #ffffff;
    text-align: right;
}

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    clear: left;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    background-color: #ffa500;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#splash {
    width: 100%;
    height: auto;
}

#linkedin {
    color: #ffffff;
    margin: 20px;
    font-size: .7em;
}

#github {
    color: #ffffff;
    margin: 20px;
    font-size: .7em;
}

#footdes {
  font-size: .75em;
}

#me {
  width:auto;
  height: auto;
}
