/*Matthew Norbury - 16404219*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 2em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: #ffffff;
}

a {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: #ffffff;
  margin: 0;
  font-size: 3em;
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
}

h2 {
  color: #ffffff;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background: #ffa500;
  padding: 25px;
}

li {
  list-style: none;
}

.links {
  display: flex;
  flex-flow: column;
  width: 100%;
  background: #ffdc9c;
}

.name {
    order: -1;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #ffa500;
}

.wrapper-edu-course {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
}

.edu {
    padding: 1em;
    background: #ffdc9c;
    text-align: center;
}

.course {
    padding: 1em;
    text-align: center;
    background: #ffdc9c;
}

.wrapper-exp-skills {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
}

.exp {
    padding: 1em;
    text-align: center;
    background: #ffdc9c;
}

.skills {
    padding: 1em;
    text-align: center;
    background: #ffdc9c;
}

.act {
    padding: 1em;
    text-align: center;
    background: #ffdc9c;
}

#tedu {
  width: 100%;
}

#trc {
  width: 100%;
}

#tpe {
  width: 100%;
}

#tskills {
  width: 100%;
}

#tra {
  width: 100%;
  height: 50%;
}

@media (max-width: 30em) {
    .edu {
        flex: 1 0 auto;
    }
}

@media (min-width: 30em) {
    .name {
        display: block;
    }

    .wrapper-edu-course {
        flex-direction: row;
    }

    .edu {
        flex: 1 1 auto;
        width: 50%;
    }

    .course {
        width: 50%;
    }

    .wrapper-exp-skills {
        flex-direction: row;
    }

    .exp {
        flex: 1 1 auto;
        width: 50%;
    }

    .skills {
        width: 50%;
    }
}
