/*Matthew Norbury - 16404219*/
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
}

h1 {
    color: #ffa500;
    padding-bottom: 0em;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
    padding-left: 2em;
    padding-right: 2em;
}

form {
    display: block;
    border: none;
}

fieldset {
    border: none;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

input {
    font-size: 1em;
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

textarea {
    font-size: 1em;
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
    padding-left: 2em;
    padding-right: 2em;
}

p {
    padding-left: 2em;
    padding-right: 2em;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    width: 7em;
    height: 2em;
}

ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: .5em;
    overflow: hidden;
    background-color: #ffa500;
}

li {
    float: right;
}

.header a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: #ffa500;
    font-family: 'Oswald', sans-serif;
    position: fixed;
}


/*#home {
    top: 5px;
    left: 25%;
    position: fixed;
}

#cv {
    top: 5px;
    left: 50%;
    position: fixed;
}

#contact {
    top: 5px;
    left: 75%;
    position: fixed;
}*/

#title {
    display: inline;
    color: #ffffff;
}

#email {
    color: #ffa500;
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    background-color: #ffa500;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#flogo {
    height: 2em;
    width: 2em;
    padding: 1em;
}

#llogo {
    height: 2em;
    width: 2em;
    padding: 1em;
}

#glogo {
    height: 2em;
    width: 2em;
    padding: 1em;
}

#foot-des {
    margin: 0px;
    font-size: .75em;
}

#linkedin {
    color: #ffffff;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: .7em;
}

#github {
    color: #ffffff;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: .7em;
}

#bowl {
    width: 100%;
    height: auto;
    margin-bottom: -20px;
}
