/*Matthew Norbury - 16404219*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 2em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

a {
    color: #ffa500;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1em;
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
    padding: 1em;
}

.header {
    background-color: #ffa500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.left-column {
    padding: 1em;
    text-align: center;
}

.right-column {
    padding: 1em;
    text-align: center;
}

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    clear: left;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    background-color: #ffa500;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#splash {
    order: -2;
    width: 100%;
    height: auto;
}

#linkedin {
    color: #ffffff;
    margin: 20px;
    font-size: .7em;
}

#github {
    color: #ffffff;
    margin: 20px;
    font-size: .7em;
}

#foot-des {
    font-size: .75em;
}

@media (max-width: 30em) {
    .left-column {
        flex: 1 0 auto;
    }
}

@media (min-width: 30em) {
    .header {
        display: block;
    }
    .wrapper {
        flex-direction: row;
    }
    .left-column {
        flex: 1 1 auto;
        width: 50%;
    }
    .right-column {
        width: 50%;
    }
    .footer {
        display: flex;
        flex-flow: column;
        align-items: center;
        clear: left;
        margin-bottom: 0;
        width: 100%;
        height: auto;
        background-color: #ffa500;
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    #splash {
        order: -2;
        width: 100%;
        height: auto;
    }
    #linkedin {
        color: #ffffff;
        margin: 20px;
        font-size: .7em;
    }
    #github {
        color: #ffffff;
        margin: 20px;
        font-size: .7em;
    }
    #foot-des {
        font-size: .75em;
    }
}
